/**
 * CORE CONFIG
 * This powers everything from utility class generation to breakpoints
 * to enabling/disabling pre-built components/utilities.
 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

*:focus {
	outline:none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/** ul and ol elements with list role should suggest removing default styling
* primarily used by header for page navigation list items
*/ul[role="list"],

ol[role="list"] {
  list-style: none;
  padding: 0;
}

/** default page font
* retrieved via fonts.google.com, a platform for free-use open-source fonts
*/
.lexend-default{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  letter-spacing: -0.01em;
}

/* All elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

/* setting page defaults i.e. page colour, text colour and font*/
html {
	background-color: var(--bg-color);
	font-family: Lexend;
	color: var(--default-text);
	text-align: center;
}


main:focus {
  outline: none;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
}

/* Setting colour variables */
:root{
	--bg-color: rgba(84, 84, 84, 1);
	--header-color: rgba(140, 82, 255, 1);
	--box-color: rgba(51, 50, 52, 1);
	--button-color: rgba(115, 115, 115, 1);
	--highlight-color: rgba(94, 23, 235, 1);
	--default-text: rgba(220, 220, 220, 1);
  --shadow-color: rgba(56,46,76, 0.8);
} 

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Setting general page defaults */
html {
  background-color: var(--bg-color);
	font-family: Lexend;
	color: var(--default-text);
	text-align: center;
}

/** Alters scroll behaviour based on user device preferences
* Required for start screen animation as well as home page and project page functionality
*/
html:focus-within {
  scroll-behaviour: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behaviour: auto;
  }
}

/* Setting font sizes */
h1,
.h1 {
	font-size: var(--step-5);
	margin-bottom: 5px;
	padding: 15px 1rem 5px;
	border-bottom: solid 5px var(--highlight-color);
	width: auto;
	margin: auto;
	display: inline-block;
}

h2,
.h2 {
	font-size: var(--step-4);
	padding: 15px 1.5rem 0;
	border-bottom: solid 5px var(--highlight-color);
	width: auto;
	margin: auto;
	display: inline-block;
}

h3,
.h3 {
	font-size: var(--step-3);
	transition-duration: 0.3s;
  margin: auto;
}

h3.preview,
.h3.preview {
	background-color: var(--highlight-color);
}

h4,
.h4 {
	font-size: var(--step-2);
  margin: auto;
}

h5,
.h5 {
	font-size: var(--step--1);
  margin: auto;
}

/* define some constants */
.flex {
  display: flex;
  align-items: center;
  gap: var(--space-3xl);
}
@media (max-width: 468px) {
  .flex {
    flex-wrap: wrap;
  }
}
.flex_center {
  justify-content: center;
}
.flex_around {
  justify-content: space-around;
}
.flex_between {
  justify-content: space-between;
}
@media (max-width: 468px) {
  .flex_around {
    justify-content: center;
  }
  .flex_between {
    justify-content: center;
  }
}
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}

/* define spacing */
.padding-top-3xs {
  padding: var(--space-3xs);
}

/* create the wrappers */
.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--box-color);
  border-radius: 30px;
}
.wrapper_inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--button-color);
}

.container {
	width: 100%;
	padding: var(--space-s) var(--space-3xl);
	display: grid;
	grid-template-columns: repeat(3, minmax(10px, 2fr));
	grid-template-rows: repeat(2, minmax(10px, 1fr));
	grid-row-gap: 1em;
	grid-column-gap: 5em;	
}

.projects_container {
  padding: var(--space-s) var(--space-3xl);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  align-items: start;
}

.vert_container {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-self: flex-start;
}

/* Style the header */
.site_header {
  padding: var(--space-3xs) 0;
  background: var(--header-color);
}

.site_header_nav ul li {
	padding: 0 var(--space-xl);
	border-radius: 30px;
	transition-duration: 0.4s;
}

.site_header_nav ul li a {
	text-decoration: none;
	color: var(--default-text);
}

.site_header_nav ul li:hover {
	background-color: var(--shadow-color);
}

.skill_button{
	transition-duration: 0.4s;
	min-width: 50px;
	min-height: 50px;
	background-color: var(--button-color);
	border: none;
	padding: var(--space-2xs) var(--space-2xl);
	text-align: center;
	text-decoration: none;
	border-radius: 15px;
	display: inline-block;
	font-family: Lexend;
	color: var(--default-text);
}

.skill_button:hover{
	background-color: var(--header-color);
}

.proj_button{
  transition-duration: 0.4s;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--bg-color);
  border: none;
  padding: var(--space-s) var(--space-l);
  text-align: left;
  text-decoration: none;
  border-radius: 15px;
  display: inline-block;
  font-family: Lexend;
  color: var(--default-text);
}

.proj_button:hover{
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  background-color: var(--shadow-color);
}


/* General styling for sections */
section {
  padding: var(--space-m) var(--space-s);
}

.wrapper_inner:target {
  box-shadow:inset 2px 2px 50px var(--shadow-color);
}

.expandable {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.expandable.expand {
  height:auto;
}


.toggle_exp {
  transition-duration: 0.4s;
  display: flex;
  min-height: 30px;
  min-width: 30px;
  padding: 1em 0;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Lexend;
  color: var(--default-text);
  padding: 0px;
}

.toggle_exp:hover {
  /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);*/
  color: var(--shadow-color);
}